@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=5588f168-8aed-4e7a-8982-83dab06b6fdf");

 /* @font-face{
	font-family:'Avenir LT W01_35 Light1475496";
	src:url("edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix");
	src:url("edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix") format("eot"),url("0078f486-8e52-42c0-ad81-3c8d3d43f48e.woff2") format("woff2"),url("908c4810-64db-4b46-bb8e-823eb41f68c0.woff") format("woff"),url("4577388c-510f-4366-addb-8b663bcc762a.ttf") format("truetype");
} */
/* @font-face{
	font-family:"Avenir LT W01_45 Book1475508";
	src:url("710789a0-1557-48a1-8cec-03d52d663d74.eot?#iefix");
	src:url("710789a0-1557-48a1-8cec-03d52d663d74.eot?#iefix") format("eot"),url("065a6b14-b2cc-446e-9428-271c570df0d9.woff2") format("woff2"),url("65d75eb0-2601-4da5-a9a4-9ee67a470a59.woff") format("woff"),url("c70e90bc-3c94-41dc-bf14-caa727c76301.ttf") format("truetype");
} */
@font-face{
	font-family:"Avenir LT W01_55 Roman1475520";
	src:url("57bf7902-79ee-4b31-a327-1bbf59a3d155.eot?#iefix");
	src:url("57bf7902-79ee-4b31-a327-1bbf59a3d155.eot?#iefix") format("eot"),url("b290e775-e0f9-4980-914b-a4c32a5e3e36.woff2") format("woff2"),url("4b978f72-bb48-46c3-909a-2a8cd2f8819c.woff") format("woff"),url("9bdf0737-f98c-477a-9365-ffc41b9d1285.ttf") format("truetype");
}
/* @font-face{
	font-family:"Avenir LT W01_65 Medium1475532";
	src:url("e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix");
	src:url("e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix") format("eot"),url("17b90ef5-b63f-457b-a981-503bb7afe3c0.woff2") format("woff2"),url("c9aeeabd-dd65-491d-b4be-3e0db9ae47a0.woff") format("woff"),url("25f994de-d13f-4a5d-a82b-bf925a1e054d.ttf") format("truetype");
} */
@font-face{
	font-family:"Avenir LT W01_85 Heavy1475544";
	src:url("6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix");
	src:url("6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix") format("eot"),url("d513e15e-8f35-4129-ad05-481815e52625.woff2") format("woff2"),url("61bd362e-7162-46bd-b67e-28f366c4afbe.woff") format("woff"),url("ccd17c6b-e7ed-4b73-b0d2-76712a4ef46b.ttf") format("truetype");
}
/* @font-face{
	font-family:"Avenir LT W01_95 Black1475556";
	src:url("f55e4498-ad48-4577-93a0-c614de5cbbb8.eot?#iefix");
	src:url("f55e4498-ad48-4577-93a0-c614de5cbbb8.eot?#iefix") format("eot"),url("c78eb7af-a1c8-4892-974b-52379646fef4.woff2") format("woff2"),url("75b36c58-2a02-4057-a537-09af0832ae46.woff") format("woff"),url("b5c44a82-eeb8-41de-9c3f-a8db50b24b8a.ttf") format("truetype");
} */
/* @font-face{
	font-family:"Futura LT W01 Heavy";
	src:url("752e3189-96d5-4999-8ae7-c435a470461b.eot?#iefix");
	src:url("752e3189-96d5-4999-8ae7-c435a470461b.eot?#iefix") format("eot"),url("f3fa9288-dc04-4f75-b949-b06584863c9c.woff2") format("woff2"),url("6b1bbd38-7556-4809-a151-88182a37116e.woff") format("woff"),url("1f56887e-52d4-4229-b219-513cbef3ff58.ttf") format("truetype");
}  */